/* Button Spacing in Data Tables */

.spaceButtons{
    margin-right: 1rem;
    margin-bottom: .7rem;
}
.editButton{
    margin-right:.3rem;
}


/*List Result Image Size in Manage Employee Accounts */

.accountManageImageResult{
    max-width: 10%;
}


/*List Result add Department Head*/

.DepartmentHeadImage{
    max-width: 10%;
}

    /*[Leave View]List Results Leave Allocation */
.leaveAllocateImage{
    max-width: 10%;
}

/*[Schedule Control] For the time picker IN Schdule */
.ui-timepicker-container{
    z-index: 9999 !important;
}
/*[PayrollView] Payroll Group Date Picker*/
.payrollGroup{
    width: 50%;
    margin-bottom:1%;
    margin-top: 1%;
    margin-left:1%;
}

/*[AttendanceView] Attendate View Date Picker */
.attendanceGroup{
    width: 50%;
    margin-bottom:1%;
    margin-top: 1%;
    margin-left:1%;
}

/*Dashboard View Cards in DashboardView*/
.dashboardCards{
    padding-left: 5%;
}

/*List Results Add Commission*/
.CommissionImage{
    max-width: 10%;
}
/* Commission View Date Range Picker */
.commissionGroup{
    width: 50%;
    margin-bottom:1%;
    margin-top: 1%;
    margin-left:1%;
}



